#!/bin/bash

# =====================================================
# STUBL = SLURM Tools and UBiLities
#
# Configuration variables for the STUBL environment
# Match to your system or leave blank.
# 
#   GPGPU = general purpose graphics processing units
#
#   PEAK_TFLOPS = peak teraflops on system
#
#   STUBL_SQSTAT_EXCLUDES = a regular expression passed
#   to "egrep -v" that excludes the listed partitions
#   from node accounting in sqstat. Prevents "double" 
#   counting when nodes have membership in multiple 
#   partitions.
#
#   STUBL_USER_EXCLUDE = the id of a user to exclude
#   from sausage and scounts accounting
#
#   STUBL_PRESUM_FILE = path (relative to STUBL_HOME) to 
#   a colon-separated list of accounts, cpu hours, and 
#   jobs run that are not accounted for in the current 
#   slurm database
# 
#   STUBL_JOBSCRIPT_ROOT_DIR = path to root dir where
#   SLURM job scripts are saved
# =====================================================
export STUBL_CLUSTERS="tux tux2"
export STUBL_DEFAULT_CLUSTER=tux
export STUBL_DEFAULT_PARTITION=compute
export STUBL_DEBUG_PARTITION=debug
export STUBL_GPGPU_PARTITION=gpu
export STUBL_SQSTAT_EXCLUDES="^$"
export STUBL_TMP_DIR=/tmp
export STUBL_SCRATCH_DIR=/scratch
export STUBL_PEAK_TFLOPS=999
export STUBL_SLURM_CONF=/etc/slurm/slurm.conf
export STUBL_SLURM_STATE_DIR=/tmp
export STUBL_USER_EXCLUDE=somebody
export STUBL_PRESUM_FILE=bin/sausage_helpers/presum.txt
export STUBL_JOBSCRIPT_ROOT_DIR=/scratch/jobscripts
# SLURM commands
export STUBL_SACCT=/usr/bin/sacct
export STUBL_SACCTMGR=/usr/bin/sacctmgr
export STUBL_SBATCH=/usr/bin/sbatch
export STUBL_SCANCEL=/usr/bin/scancel
export STUBL_SCONTROL=/usr/bin/scontrol
export STUBL_SINFO=/usr/bin/sinfo
export STUBL_SPRIO=/usr/bin/sprio
export STUBL_SQUEUE=/usr/bin/squeue
